<ng-container *transloco="let t; prefix: 'product-category-modal'">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title">{{t('title')}}</h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      <div class="notice notice-olive m-2">
        <i class="fas fa-info-circle notice-icon"></i>
        <div class="notice-text">
          <p class="notice-body">{{ t('description') }}</p>
        </div>
      </div>

      @if (firstRun()) {
        <div class="notice notice-amber m-2">
          <i class="fas fa-exclamation-triangle notice-icon"></i>
          <div class="notice-text">
            <p class="notice-body">{{ t('first-run') }}</p>
          </div>
        </div>
      }


      <form [formGroup]="categoryForm" class="category-form">

        <div class="row g-0 mb-2">

          <div class="col-md-12 col-sm-12 pt-4">
            @if (categoryForm.get('name'); as control) {
              <app-settings-item [control]="control" [title]="t('name')" [subtitle]="t('name-tooltip')">
                <ng-template #view>
                  {{control.value}}
                </ng-template>
                <ng-template #edit>
                  <input formControlName="name" type="text" class="form-control" id="form-control-name">
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 pt-4">
            @if (categoryForm.get('autoCollapse'); as control) {
              <app-settings-item [control]="control" [subtitle]="t('auto-collapse-tooltip')" [isEditMode]="true" [showEdit]="false">
                <ng-template #edit>
                  <div class="form-check form-switch">
                    <input formControlName="autoCollapse" type="checkbox" class="form-check-input" id="form-control-autoCollapse">
                    <label class="form-check-label" for="form-control-autoCollapse">
                      {{t('auto-collapse')}}
                    </label>
                  </div>
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 pt-4">
            @if (categoryForm.get('enabled'); as control) {
              <app-settings-item [control]="control" [subtitle]="t('enabled-tooltip')" [isEditMode]="true" [showEdit]="false">
                <ng-template #edit>
                  <div class="form-check form-switch">
                    <input formControlName="enabled" type="checkbox" class="form-check-input" id="form-control-enabled">
                    <label class="form-check-label" for="form-control-enabled">
                      {{t('enabled')}}
                    </label>
                  </div>
                </ng-template>
              </app-settings-item>
            }
          </div>

        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-olive" (click)="save()" [disabled]="isSaving() || !categoryForm.valid">
        @if (isSaving()) {
          <app-loading-spinner />
        }
        <span>{{isSaving() ? t('saving') : category().id === -1 ? t('create') : t('update')}}</span>
      </button>
    </div>
  </div>
</ng-container>
