<ng-container *transloco="let t; prefix: 'product-modal'">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title">{{t('title')}}</h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      <div class="notice notice-olive m-2">
        <i class="fas fa-info-circle notice-icon"></i>
        <div class="notice-text">
          <p class="notice-body">{{ t('description') }}</p>
        </div>
      </div>

      <form [formGroup]="productForm" class="product-form">

        <div class="row g-0 mb-2">
          <div class="col-md-12 col-sm-12 mt-2">
            @if (productForm.get('name'); as control) {
              <app-settings-item [control]="control" [title]="t('name')" [subtitle]="t('name-tooltip')">
                <ng-template #view>
                  {{control.value}}
                </ng-template>
                <ng-template #edit>
                  <input formControlName="name" type="text" class="form-control" id="form-control-name">
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 mt-2">
            @if (productForm.get('description'); as control) {
              <app-settings-item [control]="control" [title]="t('description-control')" [subtitle]="t('description-tooltip')">
                <ng-template #view>
                  @if (control.getRawValue().length > 0) {
                    {{control.value}}
                  } @else {
                    {{t('description-default-value')}}
                  }
                </ng-template>
                <ng-template #edit>
                  <textarea formControlName="description" type="text" class="form-control" id="form-control-description"></textarea>
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 mt-2">
            @if (productForm.get('category'); as control) {
              <app-settings-item [control]="control" [title]="t('category')" [subtitle]="t('category-tooltip')">
                <ng-template #view>
                  {{categoryName(control.value)}}
                </ng-template>
                <ng-template #edit>
                  <select formControlName="category" class="form-control" id="form-control-category">
                    @for (category of categories(); track category.id) {
                      <option [value]="category.id">{{category.name}}</option>
                    }
                  </select>
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 mt-2">
            @if (productForm.get('type'); as control) {
              <app-settings-item [control]="control" [title]="t('type')" [subtitle]="t('type-tooltip')">
                <ng-template #view>
                  {{control.value | productType}}
                </ng-template>
                <ng-template #edit>
                  <select formControlName="type" class="form-control" id="form-control-type">
                    @for (productType of AllProductTypes; track productType) {
                      <option [value]="productType">{{productType | productType}}</option>
                    }
                  </select>
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 mt-4">
            <h6 class="price-header border-bottom pb-2">{{t('prices-title')}}</h6>
          </div>

          @if (productForm.get('prices'); as priceGroup) {
            <div [formGroup]="$any(priceGroup)">
              @for (pc of priceCategories(); track pc.id) {
                <div class="col-md-12 col-sm-12 mt-2">
                  @if (priceGroup.get(pc.id.toString()); as control) {
                    <app-settings-item [control]="control" [title]="pc.name" [subtitle]="t('price-for', {name: pc.name})">
                      <ng-template #view>
                        {{control.value | number:'1.2-2'}}
                      </ng-template>
                      <ng-template #edit>
                        <div class="input-group">
                          <span class="input-group-text">€</span>
                          <input [formControlName]="pc.id.toString()" type="number" step="0.01" class="form-control">
                        </div>
                      </ng-template>
                    </app-settings-item>
                  }
                </div>
              }
            </div>
          }

          <div class="col-md-12 col-sm-12 mt-2">
            @if (productForm.get('isTracked'); as control) {
              <app-settings-item [control]="control" [subtitle]="t('is-tracked-tooltip')" [isEditMode]="true" [showEdit]="false">
                <ng-template #edit>
                  <div class="form-check form-switch">
                    <input formControlName="isTracked" type="checkbox" class="form-check-input" id="form-control-isTracked">
                    <label class="form-check-label" for="form-control-isTracked">
                      {{t('is-tracked')}}
                    </label>
                  </div>
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-12 col-sm-12 mt-2">
            @if (productForm.get('enabled'); as control) {
              <app-settings-item [control]="control" [subtitle]="t('enabled-tooltip')" [isEditMode]="true" [showEdit]="false">
                <ng-template #edit>
                  <div class="form-check form-switch">
                    <input formControlName="enabled" type="checkbox" class="form-check-input" id="form-control-enabled">
                    <label class="form-check-label" for="form-control-enabled">
                      {{t('enabled')}}
                    </label>
                  </div>
                </ng-template>
              </app-settings-item>
            }
          </div>
        </div>

      </form>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-olive" (click)="save()" [disabled]="isSaving() || !productForm.valid">
        @if (isSaving()) {
          <app-loading-spinner />
        }
        <span>{{isSaving() ? t('saving') : product().id === -1 ? t('create') : t('update')}}</span>
      </button>
    </div>
  </div>
</ng-container>
