
<app-nav-bar></app-nav-bar>

<div class="m-md-5 m-2" *transloco="let t; prefix: 'browse-stock'">

  <app-table
    [items]="sortedStock()"
    [trackByIdFunc]="trackStock"
    [pageSize]="20"
  >
    <ng-template #header>
      <tr>
        <th class="table-header-cell">{{t('name')}}</th>
        <th class="table-header-cell">{{t('description')}}</th>
        <th class="table-header-cell">{{t('quantity')}}</th>
        <th class="table-header-cell">{{t('actions')}}</th>
      </tr>
    </ng-template>

    <ng-template #cell let-stock>
      <td class="table-cell">{{ stock.name }}</td>
      <td class="table-cell">{{ stock.description }}</td>
      <td class="table-cell">
        <app-badge colour="primary">{{stock.quantity}}</app-badge>
      </td>

      <td class="table-cell d-flex align-items-center gap-2">

        <button class="btn btn-sm" (click)="viewHistory(stock)">
          <i class="fas fa-history"></i>
        </button>

        @if (authService.roles().includes(Role.ManageStock)) {
          <button class="btn btn-sm" (click)="editStock(stock)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-sm" (click)="updateStock(stock)">
            <i class="fas fa-pencil"></i>
          </button>
        }

      </td>
    </ng-template>
  </app-table>


</div>
